.container {
    background-color: var(--clr-neutral-white);
    padding: 1em;
    border-radius: 1rem;
    border: 1px solid var(--clr-neutral-black);
    width: 25rem;
    position: relative;
    isolation: isolate;
}

.container::after {
    content: '';
    display: block;
    border-radius: 1rem;
    position: absolute;
    inset: 0;
    box-shadow: .5rem .5rem var(--clr-neutral-black);
    z-index: -1;
}